<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>690980905372-afmihld4mk01hsb3ttddkodgmk0668uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690980905372-afmihld4mk01hsb3ttddkodgmk0668uo</string>
	<key>API_KEY</key>
	<string>AIzaSyCnHRknJCGZf0WdlL1IJYUhY6jnS8jbrVg</string>
	<key>GCM_SENDER_ID</key>
	<string>690980905372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vinfranryia.snapshare</string>
	<key>PROJECT_ID</key>
	<string>snapshare-2b975</string>
	<key>STORAGE_BUCKET</key>
	<string>snapshare-2b975.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:690980905372:ios:2a33ed58ffaf13ea</string>
	<key>DATABASE_URL</key>
	<string>https://snapshare-2b975.firebaseio.com</string>
</dict>
</plist>